          body {
              background: url(/img/img2.jpg);
              background-position: center;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100%;
          }
          
          .wrapper {
              max-width: 994px;
              margin: 50px auto;
          }
          
          .form {
              display: grid;
              grid-template-columns: 14% 36% 25% 25%;
              height: 130px;
              width: 100%;
              border-radius: 2px;
              background-color: rgba(104, 73, 140, 0.4);
              box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
          }
          
          .formName {
              margin: 49px 0 0 41px;
              color: #FFFFFF;
              font-size: 24px;
              font-weight: 600;
              line-height: 33px;
          }
          
          .textWrapper {
              height: 35px;
              margin-left: 31px;
          }
          
          .textWrapper.one {
              width: 311px;
          }
          
          .textWrapper.two {
              width: 226px;
          }
          
          .name {
              margin-top: 21px;
          }
          
          .password {
              margin-top: 21px;
          }
          
          .input {
              display: inline-block;
          }
          
          .inputName {
              color: #FFFFFF;
              font-size: 16px;
              line-height: 22px;
              margin: 0 0 5px 31px;
          }
          
          .formButton {
              height: 29px;
              width: 140px;
              text-align: center;
              padding-top: 6px;
              border-radius: 2px;
              background-color: #FC65A2;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
              display: inline-block;
              cursor: pointer;
              font-size: 16px;
              line-height: 22px;
              color: #FFFFFF;
              margin: 48px 0 0 80px;
          }
          /* background: url(../img/)
        
div:hover {
    background-color: #ff7979;
}

div a {
    color: #ffff;
    text-decoration: none;
    margin: 0;
} */